body {
  max-width: 80ch;
  margin: 3em auto;
  padding: 0 1em;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}

#pfp {
  border-radius: 50%;
  width: 10em;
  margin-right: 3em;
}

#github, #email, .link {
  width: 1em;
  margin: 0 0;
  transform: translate(0, 4px);
}

nav a {
    text-decoration: none;
    display: inline-block;
}

nav a p {
  color: gray;
  text-decoration: underline;
  display: inline;
  margin: 0;
  margin-right: 1em;
}

.notice {
    text-align: center;
    color: gray;
}

article {
    position: relative;
    border-radius: 12px;
    margin: 0;
    margin-bottom: 3em;
    width: 100%;
    height: 55ch;
    background-size: cover;
    background-position: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    padding-top: 2px;
}

#planets {
    background-image: url("./planets_on_wgpu.gif");
}

#spellcasters {
    background-image: url("./spellcasters.gif");
    background-size: 130%;
}

#voxelite {
    background-image: url("./voxelite.gif");
    background-size: 130%;
}

#jesture {
    background-image: url("./jesture.webp");
}

#diverging {
    background-image: url("./diverging.gif");
}


summary::-webkit-details-marker, summary::marker {
    display: none;
}

details {
    transform: translate(0, -2px);
    position: absolute;
    top: 0;
    bottom: -2px;
    left: 0;
    right: -1px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: all 0.5s;
}

details[open] {
    opacity: 1;
    backdrop-filter: blur(10px);
}

details:not([open]) a {
    pointer-events: none;
}

details a {
    color: gray;
    text-decoration: none;
}

details p a {
    text-decoration: underline;
}

h2 {
    font-size: 2em;
    font-weight: 500;
    margin: 0;
    display: inline-block;
}

a h2 {
    text-decoration: underline;
    margin-left: 0.1em;
}
    
details summary {
    list-style: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3em;
}

details > summary:hover {
  cursor: pointer;
}

